In [2]:
# Part One: Lists
planets = ['Mecury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'] 
how_many_planets = len(planets)
# Using slicing to display the rocky planets 
rocky_planets = planets [0:4]

In [14]:
# Iterate through your planets and print the planet name only if it has an s at the end
for planet in planets:
    if planet[-1] == "s":
        print(planet)

Venus
Mars
Uranus

In [16]:
# Part Two: Funtions 
def celsius_to_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

In [21]:
c = 20 
celsius_to_kelvin(c)

293.15

In [23]:
def kelvin_to_celsius(kelvin):
    celsius = kelvin - 273.15
    return celsius

In [24]:
k = 300 
kelvin_to_celsius(k)

26.850000000000023

In [25]:
# Write a function to convert temperature from celsius to fahrenheit
def celsius_to_fahrenheit(celsius): 
    fahrenheit = 9/5*celsius + 32
    return fahrenheit

In [26]:
f = 350 
celsius_to_fahrenheit(f)

662.0

In [27]:
# Write a function to convert temperature from kelvin to fahrenheit
def kelvin_to_fahrenheit(kelvin): 
    fahrenheit = (kelvin-273.15)*9/5 + 32
    return fahrenheit

In [28]:
f = 20 
kelvin_to_fahrenheit(f)

-423.66999999999996

In [29]:
def temp_to_fahrenheit(temp,type):
    if type == "celsius":
        return celsius_to_fahrenheit(temp)
    else:
        return kelvin_to_fahrenheit(temp)

In [30]:
temp_to_fahrenheit(0,"celsius")

32.0

In [32]:
temp_to_fahrenheit(300,"kelvin")

80.33000000000004

In [34]:
# Write a function to convert temperature from fahrenheit to celsius
def fahrenheit_to_celsius(farenheit): 
    celsius = (fahrenheit - 32)*5/9
    return celsius

In [35]:
f=32
fahrenheit_to_celsius(f)

0.0

In [37]:
# Write a function to convert temperature from fahrenheit to kelvin
def fahrenheit_to_kelvin(farenheit): 
    kelvin = (fahrenheit - 32)*5/9+273.15
    return kelvin

In [38]:
def fahrenheit_to_temp(temp,type):
    if type == "celsius":
        return fahrenheit_to_celsius(temp)
    else:
        return fahrenheit_to_kelvin(temp)

In [73]:
# convert height in feet and inches to meters 
def height_to_meters(feet,inches):
    total_inches = (feet*12) + inches
    meters = total_inches * 0.0254
    return meters

# convert height in meters to feet and inches 
def meters_to_height(meters): 
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches % 12
    return feet,inches

In [72]:
#example 1
meters = height_to_meters(6,6)
print(meters)

1.9811999999999999

In [74]:
#example 
feet,inches = meters_to_height(20)
print(feet,inches)

65 7.401574803149629

In [75]:
#example 2
meters = height_to_meters(7,6)
print(meters)

2.286

In [76]:
#example 3
meters = height_to_meters(7,20)
print(meters)

2.6416